{{ define "main" }}

<main>
    <div class="post">

        <h1 class="post-title">{{ .Title }} me!</h1>
        <div class="post-line"></div>

        {{ .Content }}
        Welcome to my blogs!</br>
        My name is Rohit Singh Bhandari, and I'm from Uttarakhand. I've always been passionate
        about coumputer science and technology, and I decided to start this blog as a way to share my thoughts and ideas
        with others.</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On my blog, you'll find a variety of content related to
        technology and development.</br>
        </br>
        I believe in learn by doing philosophy, and I strive to create content that is informative, engaging,
        and thought-provoking.I'm always looking for ways to improve my writing and connect with my readers. I hope you
        enjoy reading my blog as much as I enjoy writing it!</br>
        </br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for visiting my blogs, and I look forward to sharing
        more with you soon.

    </div>
</main>

{{ end }}