{{ define "main" }}

<main>
    <div class="post">

        <h1 class="post-title">Let's connect!</h1>
        <div class="post-line"></div>

        {{ .Content }}
        Whether you're an experienced tech expert or just starting to explore the field, we hope that you find our
        content to be informative and helpful. We value your feedback and would love to hear from you, so please don't
        hesitate to leave us a comment on any of our social media platforms. By sharing your thoughts with us, you can
        help us improve our content and better meet the needs of our readers.</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for your support and for choosing our blog as your
        source of information on all things tech.
    </div>
</main>

{{ end }}